{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1 class="display-5 mt-5" style="text-align: center;">Welcome to Pollapalooza!</h1>
    <p></p>
    <p style="text-align: center">This is the magical site of Polls! Create polls, take polls, view the votes!</p>
    <p style="text-align: center">Do you have a cool question? Create a poll!</p>
    <p style="text-align: center">Do you want to answer cool questions? Cast a vote!</p>
    <p style="text-align: center">Do you want to compare your vote to the rest? Check out the votes!</p>
    <p style="text-align: center"><em>Happy polling!</em></p>
    <p style="text-align: center"><mark>You must be a logged in user to vote.
        If you don't have a login, make sure to register!</mark>
    </p>
{% endblock %}
