{% extends "base.html" %}

{% block title %}Vote Counts{% endblock %}

{% block content %}
    <h2 class="mb-3">Vote Counts</h2>
    <div class="list-group">
        {% for poll in polls %}
            <div class="list-group-item">
                <h4>{{ poll[1] }}</h4>
                {% for option in vote_counts[poll[0]] %}
                    <div class="list-group-item">
                        {{ option[1] }}: {{ option[0] }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
